
@{
    Layout = null;
}

<div class="bg-light" style="position: fixed; bottom: 0px; width: 100%; padding: 10px;">
    <span>usuário: @LojaVeiculos.Aplicacao.UsuarioSessao.Logado.Login - @DateTime.Now.ToLongDateString()</span>
</div>

<script src="~/Content/js/bootstrap.min.js"></script>
