@using System.Configuration

@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ConfigurationManager.AppSettings["SiteName"]</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/js/jquery-3.6.0.min.js"></script>
    <script src="~/Content/js/font-awesome.js"></script>
    <script src="~/Content/js/funcoes.js"></script>
</head>
